[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock

[mysqld]
!include  /etc/my.cnf.d/utf8.cnf
user            = mysql
port            = 3306
socket          = /var/lib/mysql/mysql.sock
server-id       = 1
skip-name-resolve
skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 16M
table_open_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
query_cache_type=1
log-bin=mysql-bin
binlog_format=ROW
binlog-stmt-cache-size=5242880 #1024*1024*5=5M

myisam_sort_buffer_size = 8M

innodb_old_blocks_time=1000
#innodb_flush_method=
innodb_log_file_size=48M
innodb_buffer_pool_size=128M
innodb_flush_log_at_trx_commit=1


[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
